<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h2 class="tex-center fondTitle">INGRESE PRESUPUESTO</h2>
        <div class="card">
            <div class="card-body">
                <div class="text-center mb-3">
                    <span *ngIf="cantidadIncorrecta" class="badge bg-danger txtError">El presupuesto ingresado debe ser mayor a cero</span>
                </div>
                <input type="number" [(ngModel)]="cantidad" class="form-control" placeholder="Ingrese el presupuesto" id="">
                <button class="btn btn-secondary btn-lg btn-block mt-2" (click)="agregar()">AGREGAR</button>
            </div>
        </div>
    </div>
</div>
